.mat-card {
  width: 100%;
  max-width: 600px;
}

.background {
  background: linear-gradient(0deg, rgba(39, 39, 47, 0.3), rgba(39, 39, 47, 0.3)), url(src/assets/images/login-background.jpg);
//   background: url(../../assets/img/login-background.jpg);
background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
position: relative;
}
