<div style="max-width: 200px;" class="m-auto pt-3">
  <mat-form-field appearance="outline">
    <mat-label> {{ 'Search-Patient' | translate }} </mat-label>
    <input  matInput  type="text"  placeholder="Type..." [formControl]="searchControl">
  </mat-form-field>
  <br>
</div>
<ng-container *ngFor="let patient of patientList">
  <div class="list-pane pt-2 m-auto">
    <app-patient-account [patientInfo]="patient" [usePaneClass]='false' [editable]="false"></app-patient-account>
  </div>
  <br>
</ng-container>


