<ng-container *ngFor="let organ of organs">
  <mat-card class="w-100 px-5 my-3">
    <h2> {{organ.name}}</h2>
    <div class="row">
      <div [class.col-md-12]="!historyOpen" [class.col-md-6]="historyOpen">
        <mat-card class="w-100 px-5 my-3" style="max-height: 300px;">
          <mat-card-header>
            <mat-card-title><h3> {{ 'Organ-Data' | translate }}</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style=" max-height: 200px; overflow: auto;" >
              <div *ngFor="let data of organ.organDatas">
                <h3>{{ 'Date-Added-At' | translate}}: {{data.createdAt}}</h3>
                   <ul style="list-style: none;">
                      <li *ngFor="let item of data.extendedData | keyvalue">{{item.key}}: {{item.value}}</li>
                  </ul>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6" *ngIf="historyOpen">
        <app-history [organId]="organ.id"></app-history>
      </div>
      <div class="col-md-12">
        <button mat-flat-button color='primary' type="button" (click)="diagnosticOrgan(organ.id)">{{ 'Diagnostic-Organ' | translate }}</button>
        <br>
        <button mat-stroked-button color='accent' type="button" (click)="createNewOrganKey(organ.id)">{{ 'Generate-New-Organ-Key' | translate }}</button>
        <br>
        <button mat-flat-button color='accent' type="button" (click)="openDetailedInfo(organ.id)">{{ 'Organ-Data-Graphs' | translate }}</button>
      </div>
    </div>
  </mat-card>
</ng-container>
