<br>
<div class="m-5">
  <mat-card class="pane">
    <h2> {{ 'Account-Info' | translate }}</h2>
    <form [formGroup]="accountForm" *ngIf="accountInfo">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group pt-3">
            <mat-form-field appearance="outline">
              <mat-label> {{ 'UserName' | translate }} </mat-label>
              <input placeholder="Type user name..." matInput  type="text" formControlName="userName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group pt-3">
            <mat-form-field appearance="outline">
              <mat-label> {{ 'Email' | translate }} </mat-label>
              <input placeholder="Type email..." matInput  type="text" formControlName="email">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
    <mat-card-actions  *ngIf="accountInfo && accountForm.touched">
      <button mat-button color="primary" (click)="onSubmit()"> {{ 'Update' | translate }}  </button>
      <button mat-button color="warn" type="button" (click)="initForm()"> {{ 'Cancel' | translate }} </button>
    </mat-card-actions>
  </mat-card>
  <ng-container *ngIf="accountInfo?.patient">
    <app-patient-account [patientInfo]="accountInfo.patient" [editable]="true"></app-patient-account>
  </ng-container>
  <ng-container *ngIf="accountInfo?.doctor">
    <app-doctor-account [doctorInfo]="accountInfo.doctor" [editable]="true"></app-doctor-account>
  </ng-container>

</div>
