

<div class="full-screen">
  <mat-toolbar color="primary">
    <h1>{{ 'Create-Organ' | translate }}</h1>
    <span class="spacer"></span>
    <button mat-icon-button type="button" [mat-dialog-close]="null">
        <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="pt-3 mx-1">
    <form [formGroup]="organForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group pt-3">
              <mat-form-field appearance="outline">
                <mat-label> {{ 'Organ-Name' | translate }} </mat-label>
                <input placeholder="Type organ name..." matInput  type="text" formControlName="name">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group pt-3">
              <mat-form-field appearance="outline">
                <mat-label> {{ 'Organ-Type' | translate }} </mat-label>
                <input placeholder="Type organ type..." matInput  type="text" formControlName="organType">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group pt-3">
              <mat-form-field appearance="outline">
                <mat-label> {{ 'Description' | translate }}  </mat-label>
                <textarea cdkTextareaAutosize style="min-height: 100px;" formControlName="description"  matInput type="text"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group pt-2 pb-2 text-center">
          <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
            {{ 'Create' | translate }}
          </button>
        </div>
    </form>
  </div>
</div>
